Repository falcosecurity/falcosidekick, pull requests merged in 2021-01, with the labels that each got.

#171 Add and use priority type.
  config.go
  handlers.go
  main.go
  outputs/alertmanager.go
  outputs/aws.go
  outputs/datadog.go
  outputs/discord.go
  outputs/googlechat.go
  outputs/influxdb.go
  outputs/loki.go
  outputs/mattermost.go
  outputs/nats.go
  outputs/opsgenie.go
  outputs/rocketchat.go
  outputs/slack.go
  outputs/smtp.go
  outputs/stan.go
  outputs/teams.go
  types/priority.go
  types/priority_test.go
  types/types.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, size/XXL

#170 Kubeless output
  README.md
  config.go
  config_example.yaml
  go.mod
  go.sum
  handlers.go
  main.go
  outputs/client.go
  outputs/constants.go
  outputs/kubeless.go
  stats.go
  types/types.go
Labels: approved, area/outputs, dco-signoff: yes, kind/feature, lgtm, size/XXL

#173 Prepare changelog for 2.20.0
  CHANGELOG.md
Labels: approved, area/build, area/outputs, dco-signoff: yes, kind/feature, lgtm, size/S

#174 Prefer to use kubernetes.Interface.
  outputs/client.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#175 fix spelling typo in readme and example config
  README.md
  config_example.yaml
Labels: approved, area/config, dco-signoff: yes, kind/documentation, lgtm, size/S

#177 Include numeric values from falco payloads in alertmanager alerts
  handlers.go
  outputs/alertmanager.go
  outputs/alertmanager_test.go
Labels: approved, area/outputs, dco-signoff: yes, kind/feature, lgtm, size/S

#169 Adding CloudEvents output option.
  .gitignore
  README.md
  config.go
  config_example.yaml
  go.mod
  handlers.go
  main.go
  outputs/client.go
  outputs/cloudevents.go
  stats.go
  types/types.go
Labels: approved, area/outputs, dco-signoff: yes, kind/feature, lgtm, size/XXL
