Repository falcosecurity/falcosidekick, pull requests merged in 2021-03, with the labels that each got.

#199 fix html template for SMTP
  outputs/smtp_templates.go
Labels: approved, area/outputs, dco-signoff: yes, kind/bug, lgtm, size/S

#201 Prevent misleading error message when setting CUSTOMFIELDS env var
  config.go
Labels: approved, area/config, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#198 dependencies: update several dependecies
  go.mod
  go.sum
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, size/L

#207 Fix k8s pod and namespace labels for prometheus metrics
  handlers.go
Labels: approved, area/outputs, dco-signoff: yes, kind/bug, lgtm, size/XS

#208 openfaas output type added
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/client.go
  outputs/constants.go
  outputs/openfaas.go
  stats.go
  types/types.go
Labels: approved, dco-signoff: yes, lgtm, size/L

#212 prepare webui output for v1.0.0
  main.go
  outputs/webui.go
  types/types.go
Labels: approved, area/outputs, dco-signoff: yes, kind/feature, lgtm, size/S

#206 Use higher level kafka Writer api instead of low level Conn api
  README.md
  config.go
  config_example.yaml
  outputs/client.go
  outputs/kafka.go
  types/types.go
Labels: approved, area/outputs, dco-signoff: yes, kind/bug, lgtm, size/S

#213 add fjogeleit to owners
  OWNERS
Labels: approved, area/config, dco-signoff: yes, kind/documentation, lgtm, size/XS
