Repository falcosecurity/falcosidekick, pull requests merged in 2022-07, with the labels that each got.

#342 cleanup(OWNERS): remove inactive approvers
  OWNERS
Labels: kind/cleanup, kind/documentation, dco-signoff: yes, size/XS, approved, lgtm, area/build

#343 chore(OWNERS): remove duplicates in reviewers
  OWNERS
Labels: kind/cleanup, kind/documentation, dco-signoff: yes, size/XS, approved, lgtm, area/build

#341 feat(SASL-Auth): Now SMTP output may use any SASL Auth mechanisms
  README.md
  config.go
  config_example.yaml
  outputs/client.go
  outputs/constants.go
  outputs/smtp.go
  types/types.go
Labels: kind/feature, kind/documentation, dco-signoff: yes, approved, lgtm, size/L, area/config, area/outputs

#345 fix missing Checkcert parameter + wrong logic with its usage
  outputs/client.go
  outputs/client_test.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#347 feat(alertmanager-extra-infos): Adding extra labels or annotations the alert
  README.md
  config.go
  config_example.yaml
  outputs/alertmanager.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#349 Update the default type for Elasticsearch docs from 'event' to '_doc'
  README.md
  config.go
  config_example.yaml
  outputs/client.go
Labels: dco-signoff: yes, approved, lgtm, needs-kind, size/S, area/outputs
