Repository falcosecurity/falcosidekick, pull requests merged in 2022-08, with the labels that each got.

#350 add templated fields
  config.go
  config_example.yaml
  handlers.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/config

#352 remove ref to Sysdig
  outputs/client_test.go
Labels: kind/cleanup, dco-signoff: yes, size/XS, approved, lgtm

#353 allow to use envvar as custom fields
  README.md
  config.go
  config_example.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/config

#354 Update PolicyReport mapping
  handlers.go
  outputs/policyreport.go
Labels: dco-signoff: yes, approved, lgtm, size/L, needs-kind, area/outputs

#356 update Loki output to reflect the new API (version before of Loki <1 …
  config.go
  config_example.yaml
  outputs/loki.go
  outputs/loki_test.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#358 PolicyReport: determine resource name also from ka.resp.name
  outputs/policyreport.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/outputs

#361 update all deps
  go.mod
  go.sum
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XXL, area/build
