Repository falcosecurity/falcosidekick, pull requests merged in 2022-09, with the labels that each got.

#359 update Influxdb output to use API Token and api/v2
  README.md
  config.go
  config_example.yaml
  main.go
  outputs/influxdb.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#360 add Zincsearch output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/zincsearch.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#362 add Gotify output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/constants.go
  outputs/gotify.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#364 add From, To and Date header in smtp payload
  outputs/smtp.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#367 Add Tekton and KNative to README
  README.md
Labels: dco-signoff: yes, size/XS, approved, lgtm, needs-kind
