Repository falcosecurity/falcosidekick, pull requests merged in 2022-11, with the labels that each got.

#379 allow to set user and api key for Loki output when Grafana Logs is used
  README.md
  config.go
  config_example.yaml
  outputs/client.go
  outputs/loki.go
  types/types.go
Labels: dco-signoff: yes, approved, lgtm, needs-kind, size/M, area/outputs

#383 Update Pull Request: "feat: Add hostname to payload"
  outputs/alertmanager.go
  outputs/alertmanager_test.go
  outputs/aws.go
  outputs/client_test.go
  outputs/cliq.go
  outputs/cliq_test.go
  outputs/cloudevents.go
  outputs/constants.go
  outputs/datadog.go
  outputs/datadog_test.go
  outputs/discord.go
  outputs/discord_test.go
  outputs/googlechat.go
  outputs/googlechat_test.go
  outputs/grafana.go
  outputs/influxdb.go
  outputs/influxdb_test.go
  outputs/loki.go
  outputs/loki_test.go
  outputs/mattermost.go
  outputs/mattermost_test.go
  outputs/opsgenie.go
  outputs/opsgenie_test.go
  outputs/pagerduty.go
  outputs/pagerduty_test.go
  outputs/rocketchat.go
  outputs/rocketchat_test.go
  outputs/slack.go
  outputs/slack_test.go
  outputs/smtp_templates.go
  outputs/teams.go
  outputs/teams_test.go
  outputs/wavefront.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/config, area/outputs

#385 feat(kafka): SASL authentication and additional configuration
  config.go
  config_example.yaml
  go.mod
  go.sum
  outputs/kafka.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#386 add CEF format for syslog output
  README.md
  config.go
  config_example.yaml
  outputs/syslog.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs
