Repository falcosecurity/falcosidekick, pull requests merged in 2022-06, with the labels that each got.

#326 try to get the Region for AWS with the env vars or metadata
  README.md
  config_example.yaml
  outputs/aws.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M

#327 add settings for adding extra labels for loki and prometheu series
  README.md
  config.go
  config_example.yaml
  outputs/loki.go
  outputs/loki_test.go
  outputs/utils.go
  stats_prometheus.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#333 fix Panic for prometheus metrics when CustomFields are set
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/loki.go
  outputs/utils.go
  stats_prometheus.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/config, area/outputs

#335 prepare 2.26.0
  CHANGELOG.md
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#336 Adding Yandex Data Streams support
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/yandex.go
  stats.go
  types/types.go
Labels: dco-signoff: yes, approved, lgtm, size/L, needs-kind

#337 add node-red output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/nodered.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs
