Repository falcosecurity/falcosidekick, pull requests merged in 2023-05, with the labels that each got.

#470 add Grafana OnCall output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/grafana.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#478 alertmanager: add output in a description annotation too
  outputs/alertmanager.go
  outputs/alertmanager_test.go
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#492 update golanci-lint to v1.52
  .github/workflows/lint.yml
Labels: kind/cleanup, dco-signoff: yes, size/XS, approved, lgtm

#494 add rolearn and externalid for aws outputs
  Makefile
  README.md
  config.go
  config_example.yaml
  outputs/aws.go
  outputs/awssecuritylake.go
  outputs/grafana.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs
