Repository falcosecurity/falcosidekick, pull requests merged in 2023-06, with the labels that each got.

#506 fixing urls (this apparently was broken by golang-1.19 semantics)
  outputs/spyderbat.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/outputs

#505 Add attributes to GCP PubSub messages
  README.md
  config.go
  config_example.yaml
  outputs/gcp.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/config, area/outputs

#509 add OpenObserve output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/openobserve.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#527 check for nil values in evt.time and proc.pid
  outputs/spyderbat.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/outputs
