Repository falcosecurity/falcosidekick, pull requests merged in 2023-04, with the labels that each got.

#447 update key pattern for AWS Security Lake
  outputs/awssecuritylake.go
Labels: kind/feature, kind/design, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#441 fix: alertmanager: validate labels and annotation names only, not values
  config.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/config

#462 add n8n output
  README.md
  config.go
  config_example.yaml
  handlers.go
  main.go
  outputs/n8n.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#463 fix(gha): update dockerhub variable names for release job
  .github/workflows/release.yml
Labels: kind/bug, kind/cleanup, dco-signoff: yes, size/XS, approved, lgtm, area/build, area/config

#438 feat(outputs): add hostname, tags, custom, and templated fields to TimescaleDB
  README.md
  config.go
  outputs/timescaledb.go
  outputs/timescaledb_test.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#432 update wavefronthq/wavefront-sdk-go to v0.12.0 and fix deprecations
  go.mod
  go.sum
  outputs/wavefront.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/M, area/outputs
