Repository falcosecurity/falcosidekick, pull requests merged in 2023-07, with the labels that each got.

#528 fix SMTP output duplicate headers
  outputs/smtp.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#554 add setting topiccreation for kafka
  README.md
  config.go
  config_example.yaml
  outputs/kafka.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#563 fix(alertmanager-extra): trim names and values before checking them
  config.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/config

#571 Support multiple kafka bootstrap servers
  README.md
  config_example.yaml
  outputs/kafka.go
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#573 fix missing returned errors
  outputs/kafka.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#574 allow to use tls for kafka
  README.md
  config.go
  config_example.yaml
  outputs/kafka.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/config, area/outputs

#555 2.28.0
  CHANGELOG.md
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/build, area/outputs
