Repository falcosecurity/falcosidekick, pull requests merged in 2024-10, with the labels that each got.

#995 improve the name of the prometheus metrics
  handlers.go
  outputs/awssecuritylake.go
  outputs/policyreport.go
  outputs/spyderbat.go
  stats_prometheus.go
  stats_prometheus_test.go
Labels: kind/cleanup, kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/outputs

#1024 Support multi-architecture(arm64) build
  Makefile
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/build

#1034 fix missing extra fields when the key doesn't contain a dot and flatt…
  outputs/elasticsearch.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#1037 remove labels that we dont use and generate comments
  .github/dependabot.yml
Labels: dco-signoff: yes, size/XS, approved, lgtm, needs-kind
