Repository falcosecurity/falcosidekick, pull requests merged in 2024-08, with the labels that each got.

#962 Reuse http client
  outputs/client.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#978 fix: don't share same pointer for new reports
  outputs/policyreport.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#980 [Elasticsearch] Add APIKey configuration for Elasticsearch output
  config_example.yaml
  docs/outputs/elasticsearch.md
  outputs/elasticsearch.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs
