Repository falcosecurity/falcosidekick, pull requests merged in 2024-04, with the labels that each got.

#849 docs(README.md): remove leftover
  README.md
Labels: kind/cleanup, kind/documentation, dco-signoff: yes, size/XS, approved, lgtm

#855 update all deps + fix issues coming with
  go.mod
  go.sum
  outputs/policyreport.go
  outputs/smtp.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/XL, area/outputs

#858 add more checks for the upload on GCP Storage
  outputs/gcp.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/outputs
