Repository falcosecurity/falcosidekick, pull requests merged in 2024-02, with the labels that each got.

#788 Update README.md path to the correct one
  README.md
Labels: dco-signoff: yes, size/XS, approved, lgtm, needs-kind

#791 Make S3 output compatible with non-AWS S3 API-compliant endpoints
  config.go
  config_example.yaml
  docker-compose.yaml
  docs/outputs/aws_s3.md
  outputs/aws.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#794 bump up go version to 1.21 + bump up alpine base image to 3.19 + replace deprecated modules for azure
  .github/workflows/build-image.yml
  .github/workflows/lint.yml
  .github/workflows/push-main.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.dev
  go.mod
  go.sum
  outputs/azure.go
  outputs/client.go
  outputs/client_test.go
  outputs/fission.go
  outputs/gcpcloudrun.go
  outputs/grafana.go
  outputs/mqtt.go
  outputs/otlp_init.go
  outputs/spyderbat.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/XXL, area/build

#801 fix issue #780: duplicated headers
  outputs/client.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#802 try to use a consistent order for the output_fields and tags for more outputs
  Makefile
  handlers.go
  outputs/alertmanager.go
  outputs/alertmanager_test.go
  outputs/datadog.go
  outputs/datadog_test.go
  outputs/discord.go
  outputs/discord_test.go
  outputs/googlechat.go
  outputs/googlechat_test.go
  outputs/loki.go
  outputs/loki_test.go
  outputs/mattermost.go
  outputs/mattermost_test.go
  outputs/pagerduty.go
  outputs/rocketchat.go
  outputs/rocketchat_test.go
  outputs/slack.go
  outputs/slack_test.go
  outputs/teams.go
  outputs/teams_test.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/L, area/outputs
