Repository falcosecurity/falcosidekick, pull requests merged in 2024-05, with the labels that each got.

#871 truncate output fiels with a length > 512 chars
  handlers.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S

#870 feat(alertmanager): fix labels for alertmanager
  outputs/alertmanager.go
  outputs/alertmanager_test.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#901 add outputFieldFormat parameter
  Makefile
  README.md
  config.go
  config_example.yaml
  go.mod
  handlers.go
  main.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/config
