Repository falcosecurity/falcosidekick, pull requests merged in 2024-09, with the labels that each got.

#981 [Elasticsearch] Add Pipeline configuration
  config_example.yaml
  docs/outputs/elasticsearch.md
  outputs/client.go
  outputs/elasticsearch.go
  outputs/sumologic.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#979 New output type: Webex
  README.md
  config.go
  config_example.yaml
  docs/outputs/images/webex.png
  docs/outputs/webex.md
  handlers.go
  main.go
  outputs/webex.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#994 allow to specify custom tags to append
  README.md
  config.go
  config_example.yaml
  handlers.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/config

#996 :memo: Deprecated loki documentation
  docs/outputs/loki.md
Labels: dco-signoff: yes, approved, lgtm, needs-kind, size/S
