Repository falcosecurity/falcosidekick, pull requests merged in 2024-01, with the labels that each got.

#740 fix(elasticsearch-doc): remove mattermost configuration coming from a cc/cl mistake
  docs/outputs/elasticsearch.md
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm, area/config

#754 Update README.md
  README.md
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm

#764 feat(log_inlined_json): inline the json logs when it's possible
  outputs/client.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#765 refactor(init_client): merge InitClient and NewClient functions
  main.go
  outputs/client.go
  outputs/client_test.go
  outputs/fission.go
  outputs/kubeless.go
  outputs/openfaas.go
  outputs/quickwit.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/L, area/outputs
