Repository falcosecurity/falcosidekick, pull requests merged in 2024-06, with the labels that each got.

#899 revamp the policy reporter output
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  config.go
  config_example.yaml
  docs/outputs/policy_report.md
  handlers.go
  outputs/policyreport.go
  outputs/utils.go
  types/types.go
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/XL, area/outputs

#929 add Falco Talon output
  README.md
  config.go
  config_example.yaml
  docs/outputs/talon.md
  handlers.go
  main.go
  outputs/talon.go
  stats.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#931 fix the docs for Dynatrace output
  docs/outputs/dynatrace.md
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/outputs

#932 Docs fix: Environment variables are all uppercase
  docs/outputs/aws_lambda.md
  docs/outputs/aws_s3.md
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm
