Repository falcosecurity/falcosidekick, pull requests merged in 2025-01, with the labels that each got.

#1088 remove debug line -_-
  outputs/talon.go
Labels: kind/bug, kind/cleanup, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#1087 :wrench: Add NS and pod by default in loki output
  outputs/loki.go
Labels: kind/design, dco-signoff: yes, size/XS, approved, lgtm, area/outputs

#1099 allow to set a template for the nats/stan subjects
  config.go
  config_example.yaml
  docs/outputs/nats.md
  docs/outputs/stan.md
  outputs/nats.go
  outputs/stan.go
  types/types.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/outputs

#1100 fix the failing creation of the cluster policy report
  outputs/policyreport.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/outputs

#1107 fix custom headers not added to loki output http/s requests
  config.go
Labels: kind/bug, kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/outputs

#1110 Update handlers to match stats_prometheus.go
  handlers.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm
